$blue1: #1C4387
$blue2: #447FC1
$blue3: #1C4387
$blue4: #003764
$blue5: #192954
$textColor: #555


html,body
	margin: 0
	padding: 0
	font-size: 100%
	background-color: $blue1
	color: $textColor
	.mdu-home-content
		background: white
		padding: 2em 0 3em 0
	.carousel
		.item
			background: white
	h1,h2,h3,h4,h5,h6
		font-family: 'Montserrat','Helvetica', sans-serif
		font-weight: 100
.navbar-top
	background-color: $blue1
	.navbar-center
		display: inline-block
		overflow: hidden
		font-size: 0.7em
		padding: 1em
		box-sizing: border-box
		color: white
		select
			color: $textColor
		li
			display: inline-block
			margin: 0 5px

//Opciones de topbar
.navbar-top>.nav-top>.nav>li>a:hover,
.navbar-top>.nav-top>.nav>li>a:focus
	background: rgba($blue2,0.5)

.navbar-mdu
	li
		a
			padding: 1em 2em
			color: $blue1
			margin: 8px 0
			border: solid 1px $blue1
			background: transparent
			border-radius: 2px
			transition: background-color 0.5s
			&:hover
				background: $blue1
.navbar-brand
	color: white
	font-family: 'Lato', sans-serif
	img
		height: 100%
		width: auto
		display: inline-block
.navbar-header
	.navbar-brand
		padding: 0 0 0 0.5em


//.navbar-side .navbar-nav>li>a,
//.navbar-side .side-nav li.panel ul li a
//	font: 400  0.7em Lato, sans-serif
//	text-transform: uppercase
//	letter-spacing: 2px
//	background-color: $blue1
//.navbar-side .navbar-nav>li>a:focus,
//.navbar-side .navbar-nav>li>a:hover
//	background: $blue3


#side
	background: $blue1
	a
		padding: 1em
		background: $blue1
		font: 400  0.7em Lato, sans-serif
		text-transform: uppercase
		letter-spacing: 2px
		padding-left: 1em
	.panel
		margin-bottom: 1em
		ul > li > a
			box-sizing: border-box
			padding-left: 2em
		ul>li>ul>li>a
			box-sizing: border-box
			padding-left: 3em
		ul>li>ul>li>ul>li>a
			box-sizing: border-box
			padding-left: 4em

	

#page-wrapper
	border: none

.portlet
	background: white
	padding: 1em
	box-sizing: border-box
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12)
	border: none
	&.portlet-blue,
	&.portlet-default,
	&.portlet-primary
		border: none
.circle-tile
	background-color: white
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12)
	border: none
	padding: 1em
	.circle-tile-content
		border: none

.portlet.portlet-blue > .portlet-heading
	padding: 1em
	font-family: 'Montserrat', sans-serif
	font-size: 1.2em
	font-weight: 300
	color: #666


label
	font-family: 'Montserrat', sans-serif
	font-size: 0.8em
	font-weight: 300
	color: #666

footer
	background-color: $blue1
	padding: 1em 0
	color: white
	font-size: 70%
	a
		color: white
		&:hover
			color: yellow