html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background-color: #1C4387;
  color: #555; }
  html .mdu-home-content, body .mdu-home-content {
    background: white;
    padding: 2em 0 3em 0; }
  html .carousel .item, body .carousel .item {
    background: white; }
  html h1, html h2, html h3, html h4, html h5, html h6, body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Montserrat", "Helvetica", sans-serif;
    font-weight: 100; }

.navbar-top {
  background-color: #1C4387; }
  .navbar-top .navbar-center {
    display: inline-block;
    overflow: hidden;
    font-size: 0.7em;
    padding: 1em;
    box-sizing: border-box;
    color: white; }
    .navbar-top .navbar-center select {
      color: #555; }
    .navbar-top .navbar-center li {
      display: inline-block;
      margin: 0 5px; }
  .navbar-top .navbar-header {
    background: #1C4387; }

.navbar-top > .nav-top > .nav > li > a:hover,
.navbar-top > .nav-top > .nav > li > a:focus {
  background: rgba(68, 127, 193, 0.5); }

.navbar-mdu li a {
  padding: 1em 2em;
  color: #1C4387;
  margin: 8px 0;
  border: solid 1px #1C4387;
  background: transparent;
  border-radius: 2px;
  transition: background-color 0.5s; }
  .navbar-mdu li a:hover {
    background: #1C4387; }

.navbar-brand {
  color: white;
  font-family: "Lato", sans-serif; }
  .navbar-brand img {
    height: 100%;
    width: auto;
    display: inline-block; }

.navbar-header .navbar-brand {
  padding: 0 0 0 0.5em; }

#side {
  background: #1C4387; }
  #side a {
    padding: 1em;
    background: #1C4387;
    font: 400 0.7em Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 1em; }
  #side .panel {
    margin-bottom: 1em; }
    #side .panel ul > li > a {
      box-sizing: border-box;
      padding-left: 2em; }
    #side .panel ul > li > ul > li > a {
      box-sizing: border-box;
      padding-left: 3em; }
    #side .panel ul > li > ul > li > ul > li > a {
      box-sizing: border-box;
      padding-left: 4em; }

#page-wrapper {
  border: none; }

.portlet {
  background: white;
  padding: 1em;
  box-sizing: border-box;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  border: none; }
  .portlet.portlet-blue, .portlet.portlet-default, .portlet.portlet-primary {
    border: none; }

.circle-tile {
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  border: none;
  padding: 1em; }
  .circle-tile .circle-tile-content {
    border: none;
    color: #555; }
  .circle-tile .circle-tile-heading:hover {
    background: none;
    color: #192954; }

.portlet.portlet-blue > .portlet-heading {
  padding: 1em;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color: #666; }

label {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  color: #666; }

footer {
  background-color: #1C4387;
  padding: 1em 0;
  color: white;
  font-size: 70%; }
  footer a {
    color: white !important; }
    footer a:hover {
      color: #f1f1f1; }
  footer .btn {
    color: white; }
    footer .btn:hover {
      color: #f2f2f2; }

.btn-primary,
.btn-default,
.btn-green,
.btn-success {
  background: #3CB4E7;
  border-color: #3CB4E7; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary:active:focus:hover,
  .btn-default:hover,
  .btn-default:focus,
  .btn-default:active,
  .btn-default:active:focus,
  .btn-default:active:focus:hover,
  .btn-green:hover,
  .btn-green:focus,
  .btn-green:active,
  .btn-green:active:focus,
  .btn-green:active:focus:hover,
  .btn-success:hover,
  .btn-success:focus,
  .btn-success:active,
  .btn-success:active:focus,
  .btn-success:active:focus:hover {
    outline: none;
    background: #53bdea;
    border-color: #53bdea;
    color: white; }

.dropdown-toggle.btn-primary,
.dropdown-toggle.btn-default,
.dropdown-toggle.btn-green,
.open > .dropdown-toggle.btn-primary,
.open > .dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-green {
  background: #53bdea;
  border-color: #53bdea; }
  .dropdown-toggle.btn-primary:focus, .dropdown-toggle.btn-primary:hover,
  .dropdown-toggle.btn-default:focus,
  .dropdown-toggle.btn-default:hover,
  .dropdown-toggle.btn-green:focus,
  .dropdown-toggle.btn-green:hover,
  .open > .dropdown-toggle.btn-primary:focus,
  .open > .dropdown-toggle.btn-primary:hover,
  .open > .dropdown-toggle.btn-default:focus,
  .open > .dropdown-toggle.btn-default:hover,
  .open > .dropdown-toggle.btn-green:focus,
  .open > .dropdown-toggle.btn-green:hover {
    background: #53bdea;
    border-color: #53bdea; }

.btn-warning {
  background: none;
  border: solid 1px orange !important;
  color: orange; }
  .btn-warning:hover, .btn-warning:focus {
    border: solid 1px orange !important;
    background: orange;
    color: white; }

.btn-danger {
  background: none;
  border: solid 1px orangered !important;
  color: orangered; }
  .btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    background: orangered;
    border: solid 1px orangered !important;
    color: white; }

body .table > tbody > tr.success > td:last-child {
  background: none; }

/*body .table > tbody > tr.info > td:last-child {
  background: none; }*/

/*# sourceMappingURL=modulus_uno.css.map */
